.jumbotron#algorithm_options
    h4 #{__('general_options')}
     hr.my-2

    // Number of Cities Controller
    .form-group#form_num_cities
        label(for='num_cities') #{__('num_cities')}
        input#num_cities.form-control(type='number', placeholder='', min=4, max=20, required, value=4)

    .form-group#form_algorithms
        // Algorithms Controller (DONT FORCE IT HERE! IT IS CONTROLLED IN algorithms_manager.js)
        label(for='algorithms') #{__('algorithms')}
        select#algorithms.form-control
            option(selected='', value='') 