// Charts
.jumbotron#plots_container

  // Navbar
  ul.nav.nav-tabs(style="text-align:center;").justify-content-center

    // Convergency
    li.nav-item
      a.text-light.nav-link.active.in(data-toggle="tab", href="#covergence_plot_container") #{__('convergency')}

    // Distance
    li.nav-item
      a.text-light.nav-link(data-toggle="tab", href="#distance_plot_container") #{__('distance')}

    // Resources
    li.nav-item
      a.text-light.nav-link(data-toggle="tab", href="#memory_plot_container") #{__('memory')}

    // Resources
    li.nav-item
      a.text-light.nav-link(data-toggle="tab", href="#processor_plot_container") #{__('processor')}

  // Contents
  .tab-content

    // Convergency
    #covergence_plot_container.tab-pane.in.active.plot_container
      div#covergence_plot

    // Distance
    #distance_plot_container.tab-pane.fade.plot_container
      div#distance_plot
    
    // Resourcess
    #processor_plot_container.tab-pane.fade.plot_container
      div#processor_plot

    // Resourcess
    #memory_plot_container.tab-pane.fade.plot_container
      div#memory_plot
