// Use UTF-8 for acentos
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')


// Roboto Fonts for Material Design
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')

// Material Design for Bootstrap CSS
link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css', integrity='sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX', crossorigin='anonymous')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')

// C3js CSS
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.min.css')

// Page Title (changes according to source variable in serverside)
title #{__('title') + ' | ' + __(source)}