doctype html
html(lang='pt-br')
  head
    // Import CSS dependencies
    include includes/head.pug

  body
    // Import topbar
    include includes/topbar.pug   

  // Index Body
  .container-fluid
    .row
      // Left Block -> Map, Charts and Stats
      
      .col-lg-9
        // Left-Top Block -> Cities Graph
        include includes/cities_grid.pug

        // Left-Bottom Block -> Stats and Graphs
        .row
          // Charts
          .col-lg-7
              include includes/convergence_plots.pug

          //Stats
          .col-lg-5
              include includes/stats.pug
      
      // Right Block -> Options Sidebar
      .col-lg-3
          include includes/controls.pug
          include includes/algorithm_options.pug
          include includes/heuristic_options.pug

  footer
    // Import JS Dependencies
    include includes/footer.pug
