/* City Color */

.map circle {
  fill: #f06292;
}

.map circle.hover {
  fill: #b3e5fc;
}

/* City Color when Draggin */

.map circle.dragging {
  fill: red;
  stroke: brown;
}

.map circle.initial_city {
  fill: greenyellow;
  stroke: green;
}

/* Grid Color */

.axis line {
  fill: none;
  stroke-width: 0px;
  /* dont show grid */
  stroke: #bbb;
  shape-rendering: crispEdges;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-anchor: middle;
  fill: white;
  alignment-baseline: middle;
}