/* City Color */

.map circle {
    fill: #1976d2
}

.map circle.hover {
    fill: #CC769B;
}


/* City Color when Draggin */

.map circle.dragging {
    fill: #ba2d65;
}

.map circle.current {
    fill: #ba2d65;
    stroke: #ba2d65;
}


/* Grid Color */

.axis line {
    fill: none;
    stroke-width: 0px;
    /* dont show grid */
    stroke: #444;
    shape-rendering: crispEdges;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: middle;
    fill: white;
}

.bottom-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: middle;
    alignment-baseline: baseline;
    fill: #9E9E9E
}

.city_d {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: start;
    alignment-baseline: middle;
    fill: #9E9E9E
}