html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 0.8rem;
}

body {
    background-color: #E0E0E0
}

.jumbotron {
    border-radius: 0px;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .05);
    margin-bottom: 5px;
    margin-top: 5px;
}

nav {
    background-color: #00227b;
    margin-bottom: 5px;
}

.bg-primary {
    background: #00227b !important;
}

nav .navbar-light {
    background-color: #00227b;
}

.nav {
    background-color: #00227b;
}

#main_stats {
    padding-top: 5%;
    padding-bottom: 5%;
}

#plots_container {
    padding: 0;
}

body h4 {
    font-size: 1.1rem;
}

#plots_container .nav-link {
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-size: 0.6rem;
}

.navbar-nav .nav-link {
    padding-top: 0.3rem;
    padding-bottom: .3rem;
    font-size: 0.6rem;
    margin-top: 0
}

.navbar-nav {
    height: 1.2rem;
}

#navbarNav {
    padding-top: 0rem;
}

#plots_container .nav {
    background-color: #C774A3;
}

#controls {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#algorithm_options {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#heuristic_options {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#btn_start {
    background: #388E3C;
}

#btn_pause {
    background: #FF9800;
}

#btn_stop {
    background: #D32F2F;
}

#btn_backward {
    background: #03A9F4;
}

#btn_forward {
    background: #03A9F4;
}

#btn_save {
    background: #6f74dd;
}

.plot_container {
    padding: 10px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}

#form_num_cities input {
    font-size: .7rem;
    height: 2.4em
}

#form_algorithms option {
    font-size: .7rem;
    height: .7em
}

#form_algorithms select {
    font-size: .7rem;
    height: 2.4em
}

#form_heuristics option {
    font-size: .7rem;
    height: 2.4em
}

#form_heuristics select {
    font-size: .7rem;
    height: 2.4em
}

.line {
    fill: none;
    stroke: #64b5f6;
    stroke-width: 1;
}

.overlay {
    fill: none;
    pointer-events: all;
}


/* Style the dots by assigning a fill and stroke */

.dot {
    fill: #64b5f6;
    stroke: #fff;
}

.focus {
    stroke: #64b5f6;
}

.tick text {
    fill: black
}

.grid path,
.grid line {
    stroke-width: 1px;
    stroke: #E0E0E0
}